<ion-menu
  side="end"
  menuId="main-menu"
  contentId="main-content"
  class="custom-menu"
  type="overlay"
  swipeToClose="true"
>
  <ion-header>
    <ion-toolbar color="#67092B">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="goHome()">
        Ir a Inicio
      </ion-item>
      <ion-item button (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main-content">
  <app-header></app-header>
  <ion-segment [(ngModel)]="vistaSeleccionada" (ionChange)="cambiarVista($event)">
    <ion-segment-button value="mis-partidos">
      <ion-label>Mis Partidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="grupos">
      <ion-label>Grupos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="resumen">
      <ion-label>Resumen</ion-label>
    </ion-segment-button>
  </ion-segment>
  <router-outlet></router-outlet>
</ion-content>
