<ion-menu
  side="end"
  menuId="main-menu"
  contentId="main-content"
  class="custom-menu"
  type="overlay"
  swipeToClose="true"
>
  <ion-header>
    <ion-toolbar color="#67092B">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="goHome()">
        Ir a Inicio
      </ion-item>
      <ion-item button (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <app-header></app-header>
  <div class="join-tournament-container">
    <ion-item>
      <ion-input placeholder="Código" [(ngModel)]="codigoTorneo"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="unirseATorneo()">Unirse al Torneo</ion-button>
    <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
    <ion-text color="success" *ngIf="successMsg">{{ successMsg }}</ion-text>
  </div>
</ion-content>
