<ion-content>
  <ng-container *ngFor="let grupo of grupos">
    <h2>Grupo {{ grupo }}</h2>
    <ion-card *ngFor="let partido of partidosPorGrupo[grupo]">
      <ion-card-header>
        <ion-card-title>
          {{ partido.jugadores[0].nombre || partido.jugadores[0].apellido }} vs {{ partido.jugadores[1].nombre || partido.jugadores[1].apellido }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <b>Resultado:</b> {{ getResultadoSets(partido) }}
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
