<ion-menu
  side="end"
  menuId="main-menu"
  contentId="main-content"
  class="custom-menu"
  type="overlay"
  swipeToClose="true"
>
  <ion-header>
    <ion-toolbar color="#67092B">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button *ngIf="usuario?.tipoUsuario === 'administrador'" (click)="createTourtnament()">
        Crear Torneo
      </ion-item>
      <ion-item button *ngIf="usuario?.tipoUsuario === 'arbitro'" (click)="createMatch()">
        Crear Partido
      </ion-item>
      <ion-item button *ngIf="usuario?.tipoUsuario === 'jugador'" (click)="joinMatch()">
        Unirse a Partido
      </ion-item>
      <ion-item button (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <app-header></app-header>
    <div class="content-container">
      <!-- Contenido principal aquí -->
    </div>
</ion-content>
