<ion-menu
  side="end"
  menuId="main-menu"
  contentId="main-content"
  class="custom-menu"
  type="overlay"
  swipeToClose="true"
>
  <ion-header>
    <ion-toolbar color="#67092B">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="goHome()">Ir a Inicio</ion-item>
      <ion-item button (click)="logout()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <app-header></app-header>
  <div class="content-container">
    <div class="form-container" *ngIf="!torneoCreado">
      <ion-item lines="none" class="custom-input">
        <ion-input type="text" placeholder="Nombre del Torneo" [(ngModel)]="nombreTorneo"></ion-input>
      </ion-item>
      <ion-item lines="none" class="custom-input">
        <ion-datetime placeholder="Fecha y hora" [(ngModel)]="fechaTorneo"></ion-datetime>
      </ion-item>
      <ion-button expand="block" class="crear-torneo" (click)="crearTorneo()" [disabled]="creando">
        Crear Torneo
      </ion-button>
    </div>

    <div class="form-container" *ngIf="torneoCreado">
      <h2>Torneo creado</h2>
      <p><b>Código del torneo:</b></p>
      <h1 style="letter-spacing: 8px; color: #A20E43;">{{ codigoTorneo }}</h1>
      <ion-list>
        <ion-list-header>Jugadores inscritos ({{ jugadores.length }}/4)</ion-list-header>
        <ion-item *ngFor="let jugador of jugadores">
          {{ jugador.nombre }} {{ jugador.apellido }}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>Árbitros inscritos ({{ arbitros.length }}/1)</ion-list-header>
        <ion-item *ngFor="let arbitro of arbitros">
          {{ arbitro.nombre }} {{ arbitro.apellido }}
        </ion-item>
      </ion-list>
      <ion-text color="warning" *ngIf="esperando">
        Esperando a que se unan 4 jugadores y al menos 1 árbitro...
      </ion-text>
      <ion-button expand="block" color="success" (click)="iniciarTorneo()" [disabled]="esperando">
        Iniciar Torneo
      </ion-button>
    </div>
  </div>
</ion-content>
