<ion-menu
  side="end"
  menuId="main-menu"
  contentId="main-content"
  class="custom-menu"
  type="overlay"
  swipeToClose="true"
>
  <ion-header>
    <ion-toolbar color="#67092B">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="goHome()">
        Ir a Inicio
      </ion-item>
      <ion-item button (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <app-header></app-header>
    <div class="content-container">
      <div class="form-container">

        <ion-item lines="none" class="custom-input">
          <ion-input type="text" placeholder="Nombre del Torneo"></ion-input>
        </ion-item>

        <ion-item lines="none" class="custom-input">
          <ion-input type="number" placeholder="Cantidad de jugadores"></ion-input>
        </ion-item>

        <ion-item lines="none" class="custom-input">
          <ion-select placeholder="Jugadores por grupo">
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="custom-input">
          <ion-select placeholder="Tipo de torneo">
            <ion-select-option value="elimination">Eliminación</ion-select-option>
            <ion-select-option value="round-robin">Round Robin</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="custom-input">
          <ion-datetime placeholder="Fecha y hora"></ion-datetime>
        </ion-item>

        <ion-button expand="block" class="crear-torneo">Crear Torneo</ion-button>

      </div>
    </div>
</ion-content>
